.page {
  max-width: 1000px;
  margin: 0 auto;

  /* border: 8px dashed green;
  min-height: 100px; */

  /** "size" - gives us width & height, but "inline-size - gives us only "width". */
  container-type: inline-size;
}

.container {
  container-type: inline-size;
}

.layout {
  /* border: 8px dashed goldenrod; */
  /* min-height: 100px; */
}

.info {
  padding: 0 1rem;
}

.info h4 {
  font-weight: normal;
  font-style: italic;
}

.card {
  margin-bottom: 0.5rem;
}

.image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 250px;
}

@container (min-width: 36rem) {
  .image {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}

@container (max-width: 36rem) {
  .image {
    background-position: center 10%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  .info p {
    display: none;
  }
}

@container (min-width: 900px) {
  .layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
  }
}

/* .card > h1 {
  border: 8px dashed red;
  min-height: 100px;
}

main,
article {
  border: 8px dashed blue;
  min-height: 100px;
} */
